<div class="row">
  <div class="col-xs-12">
    <img [src]="device.frame" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{device.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
    appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Device <span class="caret"></span>
      </button>
      <ul class ="dropdown-menu">
        <li><a href="#">Edit Device</a> </li>
        <li><a href="#">Remove Device</a> </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{device.platform}}
  </div>

</div>



