<div class="row">
  <div class="col-xs-12">
    <img [src]="device.frame" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{device.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group"
    appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Device <span class="caret"></span>
      </button>
      <ul class ="dropdown-menu">
        <li><a style="cursor:pointer">Add to Hub</a></li>
        <li><a style="cursor:pointer" (click)="onDeviceEdit()">Edit Device</a> </li>
        <li><a style="cursor:pointer">Remove Device</a> </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Active Hubs:
    <div class="col-xs-12">
      <p
        *ngFor="let hub of activeHubs">
        {{hub.ip}}
        {{hub.id}}
      </p>
    </div>
  </div>

</div>



